

.messages-field{
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  list-style: none ;
  overflow: auto;
}


div.messages-field-loading{
position: fixed;
  background-color: #fafafa75;
  height: inherit;
  width: 100%;
  display: flex;
  margin: -1.2rem 0 0 -0.2rem;
}

.messages-field h3{
  margin: auto;
}


