.pagination-item{
    border-right: 1px solid #e6e6e6;
    display: inline-block;
}

.pagination-item a{
    color: #000;
    text-decoration: none;
    display: block;
    border-radius: 0;
    padding: .8rem 1rem;
    border: none;
}

.pagination-item a:hover[href^="http"]{
    background-color: #f2f2f2;
}

.pagination-item a:active[href^="http"]{
    transform: scale(.9);
}

.pagination-item[iscurrent="true"] a{
    background-color: #64a281;
    border-color: #64a281;
    color: #fff;
    pointer-events: none;
}

.pagination-item a:not([href^="http"]){
    color: grey;
    cursor: default;
}

@media screen and (max-width: 800px){
    .pagination-item:not(:last-child,:first-child, :nth-child(2),:nth-last-child(2),[iscurrent="true"]){
        display: none;
    }

}